In [1]:
from sklearn.linear_model.logistic import LogisticRegression
import pandas as pd
import matplotlib.pylab as plt
from sklearn.cross_validation import train_test_split
from sklearn import metrics

df = pd.read_excel('Credit.xls', sheet_name='Data')
df.head()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN,RESPONSE
0,1,0,6,4,0,0,0,1,0,0,...,67,0,0,1,2,2,1,1,0,1
1,2,1,48,2,0,0,0,1,0,0,...,22,0,0,1,1,2,1,0,0,0
2,3,3,12,4,0,0,0,0,1,0,...,49,0,0,1,1,1,2,0,0,1
3,4,0,42,2,0,0,1,0,0,0,...,45,0,0,0,1,2,2,0,0,1
4,5,0,24,3,1,0,0,0,0,0,...,53,0,0,0,2,2,2,0,0,0

In [2]:
df.shape

(1000, 32)

In [4]:
df.describe()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN,RESPONSE
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,1.577000,20.903000,2.54500,0.234000,0.103000,0.181000,0.280000,0.050000,0.097000,...,35.546000,0.186000,0.179000,0.713000,1.407000,1.904000,1.155000,0.404000,0.037000,0.700000
std,288.819436,1.257638,12.058814,1.08312,0.423584,0.304111,0.385211,0.449224,0.218054,0.296106,...,11.375469,0.389301,0.383544,0.452588,0.577654,0.653614,0.362086,0.490943,0.188856,0.458487
min,1.000000,0.000000,4.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,250.750000,0.000000,12.000000,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,27.000000,0.000000,0.000000,0.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,500.500000,1.000000,18.000000,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,33.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,1.000000
75%,750.250000,3.000000,24.000000,4.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,42.000000,0.000000,0.000000,1.000000,2.000000,2.000000,1.000000,1.000000,0.000000,1.000000
max,1000.000000,3.000000,72.000000,4.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,75.000000,1.000000,1.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.RESPONSE.value_counts()

1    700
0    300
Name: RESPONSE, dtype: int64

In [9]:
df.columns

Index(['OBS#', 'CHK_ACCT', 'DURATION', 'HISTORY', 'NEW_CAR', 'USED_CAR',
       'FURNITURE', 'RADIO/TV', 'EDUCATION', 'RETRAINING', 'AMOUNT',
       'SAV_ACCT', 'EMPLOYMENT', 'INSTALL_RATE', 'MALE_DIV', 'MALE_SINGLE',
       'MALE_MAR', 'CO-APPLICANT', 'GUARANTOR', 'TIME_RES', 'REAL_ESTATE',
       'PROP_NONE', 'AGE', 'OTHER_INSTALL', 'RENT', 'OWN_RES', 'NUM_CREDITS',
       'JOB', 'NUM_DEPEND', 'TELEPHONE', 'FOREIGN', 'RESPONSE'],
      dtype='object')

In [10]:
df.columns[0] = 'OBS'

TypeError: Index does not support mutable operations

In [11]:
df.columns[0]

'OBS#'

In [13]:
type(df.columns)

pandas.core.indexes.base.Index

In [14]:
df.corr()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN,RESPONSE
OBS#,1.000000,0.005852,0.030788,-0.011691,0.057692,0.008245,-0.003846,-0.017483,-0.025065,-0.018066,...,-0.010096,-0.004149,0.025442,-0.013244,0.022838,-0.027345,0.026662,-0.007829,-0.018177,-0.034606
CHK_ACCT,0.005852,1.000000,-0.072013,0.192191,-0.069559,0.064303,-0.098016,0.110632,0.007848,0.021587,...,0.059751,-0.043593,-0.091897,0.129434,0.076005,0.040663,-0.014145,0.066296,-0.026758,0.350847
DURATION,0.030788,-0.072013,1.000000,-0.077186,-0.109999,0.144939,-0.062804,-0.044319,0.003750,0.164113,...,-0.036136,0.067602,-0.064417,-0.075169,-0.011284,0.210910,-0.023834,0.164718,-0.138196,-0.214927
HISTORY,-0.011691,0.192191,-0.077186,1.000000,0.042480,0.039096,-0.025539,0.021396,0.054039,-0.090091,...,0.147086,-0.121950,-0.102540,0.100905,0.437066,0.010350,0.011550,0.052370,0.013873,0.228785
NEW_CAR,0.057692,-0.069559,-0.109999,0.042480,1.000000,-0.187291,-0.259831,-0.344672,-0.126799,-0.181149,...,0.075044,-0.027462,-0.011620,-0.009618,0.035845,-0.088711,0.102663,-0.036275,0.154436,-0.096900
USED_CAR,0.008245,0.064303,0.144939,0.039096,-0.187291,1.000000,-0.159301,-0.211317,-0.077740,-0.111062,...,0.050858,-0.009791,0.039160,-0.141375,-0.005248,0.180730,0.054862,0.136693,-0.031564,0.099791
FURNITURE,-0.003846,-0.098016,-0.062804,-0.025539,-0.259831,-0.159301,1.000000,-0.293164,-0.107850,-0.154078,...,-0.127657,-0.004446,0.105700,-0.040496,-0.070478,0.013422,-0.086515,-0.053587,-0.009590,-0.020971
RADIO/TV,-0.017483,0.110632,-0.044319,0.021396,-0.344672,-0.211317,-0.293164,1.000000,-0.143066,-0.204388,...,-0.046401,-0.034801,-0.070414,0.134705,-0.030706,-0.027683,-0.082464,-0.082243,-0.063242,0.106922
EDUCATION,-0.025065,0.007848,0.003750,0.054039,-0.126799,-0.077740,-0.107850,-0.143066,1.000000,-0.075191,...,0.068483,0.008254,0.000598,-0.097880,-0.010728,-0.001405,0.041204,0.016831,-0.044969,-0.070088
RETRAINING,-0.018066,0.021587,0.164113,-0.090091,-0.181149,-0.111062,-0.154078,-0.204388,-0.075191,1.000000,...,-0.001772,0.095155,-0.012013,0.051083,0.084980,0.001614,-0.000327,0.088221,-0.046343,-0.036129
AMOUNT,0.013488,-0.042705,0.624984,-0.059905,-0.040793,0.252101,-0.034037,-0.173203,-0.007388,0.103016,...,0.032716,0.048292,-0.024611,-0.117497,0.020795,0.285385,0.017142,0.276995,-0.050050,-0.154739
SAV_ACCT,0.003730,0.222867,0.047661,0.039058,-0.002348,0.112880,-0.082241,-0.001974,0.010895,-0.017512,...,0.084245,-0.005745,-0.007920,0.005788,-0.021644,0.011709,0.027514,0.087208,0.007095,0.178943
EMPLOYMENT,-0.020078,0.106339,0.057381,0.138225,-0.021232,0.039358,-0.080656,0.072807,0.018236,0.021688,...,0.256227,0.020378,-0.081508,0.007702,0.125791,0.101225,0.097192,0.060518,-0.027232,0.116002
INSTALL_RATE,0.010076,-0.005280,0.074749,0.044375,-0.045801,-0.094797,-0.062979,0.138552,0.042471,-0.025326,...,0.058266,0.016139,-0.091373,0.049922,0.021669,0.097755,-0.071207,0.014413,-0.090024,-0.072404
MALE_DIV,0.008504,-0.050555,0.006415,-0.009536,-0.018424,-0.032455,0.070907,-0.071533,-0.031579,0.079842,...,0.062430,-0.038913,-0.035308,0.054265,-0.026622,0.054783,-0.060222,0.016831,-0.020661,-0.050063
MALE_SINGLE,-0.008311,0.052436,0.121889,0.086008,0.027374,0.089610,-0.074042,-0.033294,-0.003688,0.039675,...,0.207434,0.067502,-0.225860,0.076736,0.118198,0.075686,0.283483,0.080290,0.028996,0.080677
MALE_MAR,0.005190,-0.011241,-0.084418,-0.026015,-0.012487,-0.039567,-0.086736,0.125142,-0.057150,0.000888,...,-0.145529,-0.018780,0.058954,0.018387,-0.032623,-0.059147,-0.117209,-0.029388,0.047583,0.019630
CO-APPLICANT,0.018230,-0.050780,0.029698,0.007710,0.004836,-0.053474,0.059977,-0.005391,-0.047436,-0.033688,...,-0.018357,-0.008113,0.048162,-0.036043,-0.006001,0.014945,-0.032817,-0.016074,0.066338,-0.062728
GUARANTOR,-0.004197,-0.114673,-0.039594,-0.047179,-0.012426,-0.034910,-0.028216,0.114756,-0.053730,-0.046324,...,-0.023923,0.050097,0.019879,0.029113,-0.024682,-0.068998,0.036589,-0.073503,0.097256,0.055039
TIME_RES,0.023697,-0.042234,0.034067,0.063198,0.019848,0.107257,-0.006934,-0.090043,0.040552,-0.048899,...,0.266419,-0.016704,0.167285,-0.297547,0.089625,0.012655,0.042643,0.095359,-0.054097,-0.002967
REAL_ESTATE,-0.035544,0.035865,-0.242586,0.045799,0.042056,-0.131941,-0.052191,0.123937,-0.102988,0.019869,...,0.011538,-0.059696,0.026215,0.122495,0.008568,-0.251488,0.020203,-0.162717,0.112624,0.119300
PROP_NONE,-0.015279,-0.074624,0.212838,-0.025412,0.025940,0.128863,-0.071050,-0.117977,0.156355,-0.036864,...,0.206368,0.066616,-0.069133,-0.476496,-0.012850,0.155995,0.077548,0.139930,-0.054276,-0.125750
AGE,-0.010096,0.059751,-0.036136,0.147086,0.075044,0.050858,-0.127657,-0.046401,0.068483,-0.001772,...,1.000000,0.035362,-0.212620,0.006553,0.149254,0.015673,0.118201,0.145259,-0.006151,0.091127
OTHER_INSTALL,-0.004149,-0.043593,0.067602,-0.121950,-0.027462,-0.009791,-0.004446,-0.034801,0.008254,0.095155,...,0.035362,1.000000,-0.069011,0.024895,0.050290,0.007301,0.072220,0.025433,-0.025623,-0.113285
RENT,0.025442,-0.091897,-0.064417,-0.102540,-0.011620,0.039160,0.105700,-0.070414,0.000598,-0.012013,...,-0.212620,-0.069011,1.000000,-0.735968,-0.058070,-0.039195,-0.063033,-0.049524,0.032849,-0.092785
OWN_RES,-0.013244,0.129434,-0.075169,0.100905,-0.009618,-0.141375,-0.040496,0.134705,-0.097880,0.051083,...,0.006553,0.024895,-0.735968,1.000000,0.041386,-0.059393,-0.027579,-0.036275,0.018960,0.134589
NUM_CREDITS,0.022838,0.076005,-0.011284,0.437066,0.035845,-0.005248,-0.070478,-0.030706,-0.010728,0.084980,...,0.149254,0.050290,-0.058070,0.041386,1.000000,-0.026321,0.109667,0.065553,-0.009717,0.045732
JOB,-0.027345,0.040663,0.210910,0.010350,-0.088711,0.180730,0.013422,-0.027683,-0.001405,0.001614,...,0.015673,0.007301,-0.039195,-0.059393,-0.026321,1.000000,-0.093559,0.383022,-0.100944,-0.032735
NUM_DEPEND,0.026662,-0.014145,-0.023834,0.011550,0.102663,0.054862,-0.086515,-0.082464,0.041204,-0.000327,...,0.118201,0.072220,-0.063033,-0.027579,0.109667,-0.093559,1.000000,-0.014753,0.077071,0.003015
TELEPHONE,-0.007829,0.066296,0.164718,0.052370,-0.036275,0.136693,-0.053587,-0.082243,0.016831,0.088221,...,0.145259,0.025433,-0.049524,-0.036275,0.065553,0.383022,-0.014753,1.000000,-0.107401,0.036466
FOREIGN,-0.018177,-0.026758,-0.138196,0.013873,0.154436,-0.031564,-0.009590,-0.063242,-0.044969,-0.046343,...,-0.006151,-0.025623,0.032849,0.018960,-0.009717,-0.100944,0.077071,-0.107401,1.000000,0.082079
RESPONSE,-0.034606,0.350847,-0.214927,0.228785,-0.096900,0.099791,-0.020971,0.106922,-0.070088,-0.036129,...,0.091127,-0.113285,-0.092785,0.134589,0.045732,-0.032735,0.003015,0.036466,0.082079,1.000000

In [15]:
X = df[list(df.columns)[:-1]]
y = df['RESPONSE'].astype(int)

In [17]:
X.head()

,OBS#,CHK_ACCT,DURATION,HISTORY,NEW_CAR,USED_CAR,FURNITURE,RADIO/TV,EDUCATION,RETRAINING,...,PROP_NONE,AGE,OTHER_INSTALL,RENT,OWN_RES,NUM_CREDITS,JOB,NUM_DEPEND,TELEPHONE,FOREIGN
0,1,0,6,4,0,0,0,1,0,0,...,0,67,0,0,1,2,2,1,1,0
1,2,1,48,2,0,0,0,1,0,0,...,0,22,0,0,1,1,2,1,0,0
2,3,3,12,4,0,0,0,0,1,0,...,0,49,0,0,1,1,1,2,0,0
3,4,0,42,2,0,0,1,0,0,0,...,0,45,0,0,0,1,2,2,0,0
4,5,0,24,3,1,0,0,0,0,0,...,1,53,0,0,0,2,2,2,0,0

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,stratify=y)
regressor = LogisticRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [20]:
y_pred

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [24]:
print(len([i for i in y_pred if i==0 ]))

60

In [26]:

print ('accuracy:', metrics.accuracy_score(y_test, y_pred))

accuracy: 0.748

In [29]:
print (metrics.classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          0       0.60      0.48      0.53        75
          1       0.79      0.86      0.83       175

avg / total       0.74      0.75      0.74       250

In [30]:
print (metrics.confusion_matrix(y_test,y_pred))

[[ 36  39]
 [ 24 151]]

In [31]:
from sklearn.externals import joblib
joblib.dump(regressor, 'regressor.pkl')

['regressor.pkl']

In [32]:
iris-reg = joblib.load('iris-reg.pkl')

SyntaxError: can't assign to operator (<ipython-input-32-082ba8ed194b>, line 1)

In [33]:
iris_reg = joblib.load('iris-reg.pkl')

In [34]:
ir_data = pd.read_csv('iris_X.csv')

In [35]:
pred = iris_reg.predict(ir_data)
print(pred)

['setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa' 'setosa'
 'setosa' 'setosa' 'setosa' 'setosa']

In [40]:
import keras

Using TensorFlow backend.

In [39]:
import tensorflow as tf

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters